body {
  font-family: sans-serif;
  width: 600px;
}

h1 {
  font-family: sans-serif;
  font-size: 1rem;
  margin-top: 0px;
  margin-bottom: 0px;
}

h2 {
  font-family: sans-serif;
  font-size: .9rem;
  font-weight: 400;
  margin-bottom: 0px;
}

text {
  font-size: .9rem;
  user-select: none;
  pointer-events: none;
}

.line {
  fill: none;
  stroke-width: 2px;
}

.recession {
  fill: #ddd;
}

.label {
  font-weight: 700;
}

#beforeLabel {
  color: #06576D;
  font-weight: 700;
}

#afterLabel {
  color: #7F2969;
  font-weight: 700;
}

#controls {
  margin-top: 25px;
  font-size: .9rem;
}

#dataLabel {
  position: absolute;
}

#dataLabelText,
#dataLabelTextBG {
  font-weight: 700;
  text-anchor: middle;
  font-size: 1.1rem;
}

#dataLabelTextBG {
  stroke: white;
  stroke-width: 4px;
}

.notes {
  font-size: .8rem;
}

.axis--x path{
  display: none;
}

a {
  text-decoration: none;
}
